.fondo {
    background-color: #151618 !important;
}

.max-width {
    max-width: 1200px;
}

.first {
    margin-top: -3px;
    // align-self: start;
    //  z-index: -1;
    width: 20%;
}

.second {
    margin-top: -4px;
    //  z-index: -2;
    width: 60%;
}

.third {
    margin-top: -4px;
    // z-index: -3;
    width: 30%;
}

.widthNav {
    width: 25%;
    text-align: center;
}