<div class="row animated fadeIn">
    <p></p>
    <div class="card-group" style="height:23rem;">
        <div class="col-6 card" style="width: 40%;height: 480px;">
            <!-- <img [src]="consola.img" /> -->
            <p></p>
            <img [src]="juego.img" style="height: 25rem;">
        </div>
        <div class="col-6 card" style="width: 70%;">
            <h1 class="card-title" style="text-align: center;">{{juego.nombre_juego}}</h1>
            <p class="card-text">Desarrollador: {{juego.desarrollado}}</p>
            <p class="card-text">Genero: {{juego.genero}}</p>
            <p class="card-text">Clasificacion: {{ juego.clasificacion}}</p>
            <p class="card-text">Precio: {{ juego.precio}}</p>
            <p class="card-text">Plataforma: {{ juego.plataforma}}</p>
            <!-- <p><img width="50px " [src]="urlImg " /></p> -->

            <p class="card-text">Cantidad:
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="height: 27px; align-items: center;" class="quantity-left-minus btn btn-danger btn-number btn-sm mb-1" data-type="minus" (click)="Total(cantidad.value,juego.precio)"> - </button>
                <input class="quantity" style="height: 27px; align-items: flex-start; padding: 8px" min="0" max="100" name="quantity" value="0" #cantidad type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" style="height: 27px; align-items: center;" class="quantity-right-plus btn btn-success btn-number btn-sm mb-1" data-type="plus" (click)="Total(cantidad.value,juego.precio)"> + </button>
            </p>
            <div *ngIf="mTotal">
                <p class="card-text" style="height: 4rem;"><b style="font-size: 36px;">Total: {{mTotal}}</b></p>
            </div>

            <!-- <button (click)="regresar() " class="btn btn-outline-light btn-lg" style="background-color:grey">Regresar</button> -->
            <div>
                <button (click)="Agregar(juego.nombre_juego,cantidad.value,mTotal)" class="btn btn-outline-light btn-lg" style="width: 48%; background-color:cornflowerblue">Añadir</button>
                <button (click)="regresar()" class="btn btn-outline-light btn-lg" style="width:48%; background-color:grey">Regresar</button>
            </div>

        </div>
    </div>
</div>